<ion-header>
  <ion-navbar>
    <ion-title>
      Tire Fotos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <button ion-button color="dark" (click)="takePicture()">Take Photo</button>
  <img [src]="base64Image" *ngIf="base64Image" />
</ion-content>
